fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
pymupdf
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt
httpx
psycopg2-binary
langchain
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters
chromadb
sentence-transformers
onnxruntime
